html,
body {
	margin: 0;
	padding: 0;
}

.logo-animation,
.home {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

}

.home {
	/*	display: none;*/
	height: auto;
	background-color: white;
}


.logo {
	position: absolute;
	font-family: 'Merienda', cursive;
	color: darkorange;
}

#box-logo {
	position: absolute;
	background-color: black;
	height: 1px;
	width: 1px;
}

.logo-home {
	height: 80px;
	background-color: black;
	border-bottom: 2px double darkorange;
}

.line {
	width: 400px;
}

#map {
	height: 100%;
	border: 2px solid black;
}

.box {
	height: 250px;
}

#box-img {
	height: auto;
	background-color: white;
}

.img-Restaurante {
	height: 20vh;
	width: 25vh;
	box-shadow: 2px 2px 4px black;
}

.img-Restaurante:hover {
	opacity: 0.5;
	border: 3px solid darkorange;
}

.icon-search,
.filtrar {
	background-color: black;
	color: white;
}

.filtrar:hover {
	box-shadow: 0px 0px 8px 2px darkorange;
}
