 html,
 body {
 	height: 100vh;
 	margin: 0;
 	padding: 0;
 }

 .logo-animation,
 .home {
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100vw;
 	height: 100vh;
 }

 .logo-animation {
 	background-color: white;
 }

 .home {
 	background-color: white;
 	display: none;
 }

 .logo {
 	color: darkorange;
 	position: absolute;
 	font-family: 'Merienda', cursive;
 }

 #box-logo {
 	position: absolute;
 	background-color: black;
 	height: 1px;
 	width: 1px;
 }

 .line {
 	width: 400px;
 }

 #map {
 	height: 100%;
 }

 .box-map {
 	width: 300px;
 	height: 200px;
 	border: 2px solid darkorange;
 }

 .teste {
 	border: 2px solid white;
 }
